.sidebar-loop {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 5px;
    margin: 3px;
    color: #272849;
    cursor: pointer;
    transition: color 0.2s, box-shadow 0.2s;

    &:hover {
        background-color: #dfdfdf;
    }

    &:focus {
        outline: none;
    }
}

.sidebar-loop.active {
    background-color: rgb(208, 208, 208);
    color: brown;
}

.sidebar-loop:hover {
    color: brown;
    box-shadow: 2px 2px 5px #2b1e4800;
    border-radius: 10px;

    &>.sidebar-icon i {
        color: inherit;
        box-shadow: none;
        background-color: inherit;
    }
}

.sidebar-label {
    font-size: 12px;
}

.sidebar-icon {
    font-size: 28px;
}

.sidebar-left-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
