
.chat-body {
    display: flex;
    width: 100%;
    flex: 1;
    height: 106%;
}

.chat-container {
    width: 100%;
    height: 88vh;
}


.chat-sidebar {
    display: flex;
    flex: 1;
}

.chat-msg {
    display: flex;
    flex: 11;
    flex-direction: column;
    /* margin-left: 18px; */
    height: 88vh;
    max-height: 550px;
}

.chat-LeftSidebarChild {
    display: flex;
    flex: 1;
    width: 30%;
}