.messages {
    padding: 20px;
    height: 100%;
    height: 500px;
    max-height: 500px;
    overflow: auto;
}

.messages-container {
    overflow-y: auto;
    max-height: 550px;
}

.messages-list {
    padding: 10px;
    height: 550px;
}

.messages-list::after {
    content: "";
    display: block;
    height: 10px;
}