.sidebar-child-loop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    font-size: 18px;
}

.sidebar-child-loop:hover {
    background-color: #2b1e4818;
    color: brown;
    box-shadow: 0px 0px 5px #2b1e48;
    font-size: 18px;
}
.active {
    background-color: #2b1e4818;
    color: brown;
    box-shadow: 0px 0px 3px #2b1e48;
    /* border-radius: 10px; */
    font-size: 18px;
}

.left-sidebar-child-levels-conversation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.sidebar-child-loop {
    width: 100%;
    margin: 2px 0px;
    display: flex;
    justify-content: flex-start;
}

.sidebar-child-loop:hover {
    color: brown;
    box-shadow: 2px 2px 5px #2b1e48;
    border-radius: 10px;
    &:hover {
        background-color: #eee;
    }

    &:focus {
        outline: none;
    }
}

.sidebar-child-theme-conversation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.btn-left-sidebar-child-loop {
    display: flex;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    padding: 0.5rem 1rem;

    color: inherit;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    &:hover {
        background-color: #eee;
    }

    &:focus {
        outline: none;
    }
}.unread-message {
    color: rgb(255, 0, 0);
}